.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/nav/js.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/app/build
*.iml
*.apk
*.ap_
*.dex
*.class
/captures
.externalNativeBuild
.cxx
.idea
/jdk17/
/jdk17.zip
/jdk-17*/
